<template>
  <section class="">
      <router-view/>
  </section>
</template>

<script>
export default {
  computed: {
    text: {
      set (lang) {
        this.$store.dispatch('t/setLanguage', lang)
        this.$store.dispatch('l/getWhat3Word', this.$store.getters['l/currentLocation'])
      },
      get () {
        return this.$store.getters['t/currentLang']
      }
    },
    languages: {
      get () {
        return this.$store.getters['t/languages']
      }
    }
  },
  created () {
    this.$store.dispatch('t/setLanguage', this.languages.de)
    this.$store.dispatch('p/get').then((result) => {
      if (result === false) {
        this.$router.push('/profileSetup')
      }
    })
    this.$store.dispatch('e/changeLedMode', 1)
  }
}
</script>

<style>
@import '../src/assets/bulma.css';
</style>
