<template>
  <section class="hero is-fullheight ">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head has-text-centered is-paddingless">
        <h1 class="is-size-3">{{ text.about }}</h1>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body is-paddingless">
      <div class="container has-text-centered">
        <p>{{ text.projectDesc }}:</p>
        <br/>
        <div class="has-text-black-bis">
          <h3>Andrea Käser</h3>
          <h3>Marc Mühlheim</h3>
          <h3>Matthias Brunner</h3>
          <h3>Max Penfold</h3>
          <h3>Michael Aeschbacher</h3>
          <h3>Nicola Gautschi</h3>
          <h3>Noah Gugger</h3>
          <h3>Pascal Mani</h3>
          <h3>Peter Leiser</h3>
          <h3>Raphael Grichting</h3>
          <h3>Robin von Büren</h3>
        </div>
        <br/>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <div class="level">
        <div class="level-item padding-h width-h ">
          <p>Copyright &#169; SmartQb-Team</p>
        </div>
        <div class="level-item">
          <router-link class="button" to="/">{{ text.home }}</router-link>
        </div>
        <div class="level-item padding-h width-h ">
          <button class="button" v-bind:class="{ 'is-success': currentLedMode == 99 }" @click="changeLedMode(99)">{{ text.projectOf }}</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'about',
  components: {
  },
  methods: {
    ...mapActions ({
      changeLedMode: 'e/changeLedMode'
    })
  },
  computed: {
    ...mapState ({
      text: state => state.t.currentLang
    })
  }
}
</script>

<style scoped>
.padding-h {
  padding: 2em;
}
.width-h {
  width: 10em;
}
</style>
