<template>
  <section class="hero is-fullheight has-text-centered">
    <div class="hero-head">
      <h1 class="is-size-1">{{text.changeLoc}}</h1>
    </div>
    <div class="hero-body padding-h">
      <div class="container">
        <Map />
        <button id="selLoc" class="button is-success margin-h" @click="saveLoc">{{text.selLocation}}</button>
      </div>
    </div>
    <div class="hero-footer">
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Map from '@/components/Map.vue'

export default {
  name: 'ChangeLocation',
  components: {
    Map
  },
  computed: {
    ...mapState ({
      text: state => state.t.currentLang
    })
  },
  methods: {
    ...mapActions ('w', ['get']),
    saveLoc () {
      this.$store.dispatch('p/updateProfileLocation')
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
.margin-h {
  margin: 5px;
}
.padding-h{
  padding: 0.5em;
}
</style>
