<template>
  <section class="hero is-fullheight padding-h">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <header class="level">
        <div class="level-left">
          <p class="has-text-weight-semibold is-size-6">{{ text.w3w }}: ///{{ what3words }}</p>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="button" v-on:click="isShowSettings = true"><font-awesome-icon :icon="['fas', 'cog']"/></button>
          </div>
          <div class="level-item">
            <router-link class="button" to="/about"><font-awesome-icon :icon="['fas', 'info-circle']"/></router-link>
          </div>
        </div>
      </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="is-size-4" >{{ currentDate }} {{ currentTime }}</p>
        <p class="has-text-weight-semibold is-size-3">{{ weather.city }} ({{ weather.country }}) {{ weather.temp }}° {{ weather.weather }}</p>
        <img v-bind:src="iconsrc" />
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <div class="level">
        <div class="level-left">
          <div class="buttons has-addons">
            <span class="button" v-bind:class="{ 'is-success': currentLedMode == 1 }" @click="changeLedMode(1)">{{ text.time }}</span>
            <span class="button" v-bind:class="{ 'is-success': currentLedMode == 2 }" @click="changeLedMode(2)">{{ text.dayNight }}</span>
            <span class="button" v-bind:class="{ 'is-success': currentLedMode == 3 }" @click="changeLedMode(3)">{{ text.weather}}</span>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="button is-black" @click="turnOff"><font-awesome-icon :icon="['fas', 'power-off']"/></button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" v-bind:class="{ 'is-active': isShowSettings }">
      <div class="modal-background"></div>
        <div class="modal-content">
        <!-- Any other Bulma elements you want -->
          <Settings />
        </div>
      <button class="modal-close is-large" aria-label="close" v-on:click="isShowSettings = false"></button>
    </div>

    <div class="modal" v-bind:class="{ 'is-active': isShowLanguage }">
      <div class="modal-background"></div>
        <div class="modal-content">
        <!-- Any other Bulma elements you want -->
          <Language />
        </div>
      <button class="modal-close is-large" aria-label="close" v-on:click="isShowLanguage = false"></button>
    </div>

    <div class="modal" v-bind:class="{ 'is-active': isShowProfileSelect }">
      <div class="modal-background"></div>
        <div class="modal-content">
        <!-- Any other Bulma elements you want -->
          <ProfileSelect />
        </div>
      <button class="modal-close is-large" aria-label="close" v-on:click="isShowProfileSelect = false"></button>
    </div>

    <div class="modal" v-bind:class="{ 'is-active': isShowAlarmButton }">
      <div class="modal-background"></div>
        <div class="modal-content has-text-centered">
        <!-- Any other Bulma elements you want -->
          <font-awesome-icon :icon="['fas', 'bell']" size="10x" :style="{ color: '#ff3860' }"/> <br/>
          <button class="button is-danger margin-h padding-h is-size-2" @click="setAlarmClockTimer()">{{ text.alarmStop }}</button>
        </div>
    </div>

  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ProfileSelect from '@/components/ProfileSelect.vue'
import Settings from '@/components/Settings.vue'
import Language from '@/components/Language.vue'
import { setTimeout } from 'timers'

export default {
  name: 'home',
  data () {
    return {
      currentTime: null,
      currentDate: null,
      isShowSettings: false,
      isShowLanguage: false,
      isShowProfileSelect: false,
      isShowAlarmButton: false,
      offTimer: null,
      timeTimer: null,
      alarmTimer: null,
      weatherTimer: null
    }
  },
  components: {
    ProfileSelect,
    Settings,
    Language
  },
  computed: {
    ...mapState ({
      what3words: state => state.l.currentLocation.what3words,
      weather: state => state.l.currentWeather,
      text: state => state.t.currentLang,
      profile: state => state.p.currentProfile,
      location: state => state.l.currentLocation,
      currentLedMode: state => state.e.current_mode
    }),
    iconsrc () {
      return `http://openweathermap.org/img/w/${this.weather.icon}.png`
    }
  },
  methods: {
    ...mapActions ({
      updateWeather: 'l/getWeather',
      changeLedMode: 'e/changeLedMode'
    }),
    updateCurrentTime () {
      this.currentTime = this.$moment().format('LTS')
      this.currentDate = this.$moment().format('ll')
    },
    turnOff () {
      this.changeLedMode(0)
      this.$router.push('off')
    },
    setAlarmClockTimer () {
      if (this.profile.alarm_clock_activated === true) {
        this.alarmTimer = setTimeout(() => this.alarmClockElapsed(), this.calculateTimeSpan(this.profile.alarm_clock_time))
        this.isShowAlarmButton = false
        this.changeLedMode(this.currentLedMode)
      }
    },
    alarmClockElapsed () {
      this.isShowAlarmButton = true
      this.changeLedMode(4)
    },
    setUptimeTimer () {
      if (this.profile.uptime_activated === true) {
        this.offTimer = setTimeout(() => this.turnOff(), this.calculateTimeSpan(this.profile.uptime_off))
      }
    },
    calculateTimeSpan (hhmm) {
      var hhmmArray = hhmm.split(':')
      var hh = parseInt(hhmmArray[0])
      var mm = parseInt(hhmmArray[1])
      var dateNow = new Date(Date.now())
      var dateWakeUp = new Date(Date.now())
      dateWakeUp.setHours(hh)
      dateWakeUp.setMinutes(mm)
      dateWakeUp.setSeconds(0)
      if (dateNow > dateWakeUp) {
        dateWakeUp.setTime(86400000 + dateWakeUp.getTime()) // add 1 day if the the Date is smaller than the time now
      }
      return dateWakeUp - dateNow
    }
  },
  watch: {
    profile (newProfile, oldProfile) {
      this.setAlarmClockTimer()
      this.setUptimeTimer()
    }
  },
  mounted () {
    this.$moment.locale(this.text.languageCode)
    this.currentTime = this.$moment().format('LTS')
    this.timeTimer = setInterval(() => this.updateCurrentTime(), 1000)
    this.weatherTimer = setInterval(() => this.updateWeather(this.location), 60000)
    if (this.profile != null){
      this.setAlarmClockTimer()
      this.setUptimeTimer()
    }
  },
  beforeDestroy () {
    clearInterval(this.weatherTimer)
    clearInterval(this.timeTimer)
    if (this.offTimer != null) {
      clearTimeout(this.offTimer)
    }
    if (this.alarmTimer != null) {
      clearTimeout(this.alarmTimer)
    }
  }
}
</script>
<style scoped>
.padding-h {
  padding: 2em;
}
.margin-h {
  margin: 2em;
}
</style>
