<template>
  <section class="hero is-fullheight padding-h is-black">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">

    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">

    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <div class="level">
        <div class="level-left">
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="button is-success" @click="turnOn"><font-awesome-icon :icon="['fas', 'power-off']"/></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'off',
  data () {
    return {
      offTimer: null,
      alarmTimer: null,
      onTimer: null
    }
  },
  components: {
  },
  computed: {
    ...mapState ({
      text: state => state.t.currentLang,
      ledMode: state => state.e.current_mode,
      profile: state => state.p.currentProfile
    })
  },
  methods: {
    ...mapActions ({
      changeLedMode: 'e/changeLedMode'
    }),
    turnOn () {
      this.changeLedMode(this.ledMode)
      this.$router.push('/')
    },
    setAlarmTimer () {
      if (this.profile.alarm_clock_activated) {
        this.alarmTimer = setTimeout(() => this.changeLedMode(4), this.calculateTimeSpan(this.profile.alarm_clock_time))
      }
    },
    setUptimeTimer () {
      if (this.profile.uptime_activated === true) {
        this.onTimer = setTimeout(() => this.turnOn(), this.calculateTimeSpan(this.profile.uptime_on))
      }
    },
    calculateTimeSpan (hhmm) {
      var hhmmArray = hhmm.split(':')
      var hh = parseInt(hhmmArray[0])
      var mm = parseInt(hhmmArray[1])
      var dateNow = new Date(Date.now())
      var dateWakeUp = new Date(Date.now())
      dateWakeUp.setHours(hh)
      dateWakeUp.setMinutes(mm)
      dateWakeUp.setSeconds(0)
      if (dateNow > dateWakeUp) {
        dateWakeUp.setTime(86400000 + dateWakeUp.getTime()) // add 1 day if the the Date is smaller than the time now
      }
      return dateWakeUp - dateNow
    }
  },
  mounted () {
    this.setUptimeTimer()
    this.offTimer = setInterval(() => this.changeLedMode(0), 30000)
  },
  beforeDestroy () {
    clearInterval(this.offTimer)
    if (this.onTimer != null) {
      clearTimeout(this.onTimer)
    }
    if (this.alarmTimer != null) {
      clearTimeout(this.alarmTimer)
    }
  }
}
</script>
<style scoped>
.padding-h {
  padding: 2em;
}
</style>
