<template>
  <section class="hero is-fullheight has-text-centered">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <h1 class="is-size-1">{{text.operationHours}}</h1>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body container">
        <div class="container has-text-centered">
            <div class="field">
                <label class="label">{{ text.uptimeOn }}</label>
                <vue-clock-picker input-class="input is-rounded has-text-centered" active-color="green" :done-text="text.done" :cancel-text="text.cancel" v-model="profile.uptime_on"></vue-clock-picker>
            </div>
            <div class="field">
                <label class="label">{{ text.uptimeOff }}</label>
                <vue-clock-picker input-class="input is-rounded has-text-centered" active-color="green" :done-text="text.done" :cancel-text="text.cancel" v-model="profile.uptime_off"></vue-clock-picker>
            </div>

            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" v-model="profile.uptime_activated">
                    {{ text.active }}
                </label>
            </div>
            <button class="button is-success" @click="saveOperationHours()">{{ text.save }}</button>
            <router-link class="button is-danger" to="/">{{ text.cancel }}</router-link>
        </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import VueClockPicker from '@pencilpix/vue2-clock-picker'
import '@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css'

export default {
  name: 'operationHours',
  data () {
    return {
    }
  },
  components: {
    VueClockPicker
  },
  computed: {
    ...mapState ({
      text: state => state.t.currentLang,
      profile: state => state.p.currentProfile
    })
  },
  methods: {
    ...mapActions ({
      setCurrProf: 'p/setCurrProf'
    }),
    saveOperationHours () {
      this.setCurrProf(this.profile)
      this.$router.push('/')
    }
  },
  mounted () {
  },
  created () {
  }
}
</script>
<style scoped>

</style>
