<template>
  <section class="hero is-fullheight has-text-centered">
    <div class="hero-head">
      <h1 class="is-size-1">{{text.title}} - {{ text.welcome }}</h1>
    </div>

    <div class="hero-body is-paddingless margin-h">
        <ProfileCreate />
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import ProfileCreate from '@/components/ProfileCreate.vue'

export default {
  name: 'ProfileSetup',
  components: {
    ProfileCreate
  },
  computed: {
    ...mapState({
      text: state => state.t.currentLang
    })
  },
  mounted () {
    this.$store.dispatch('p/clearCurrProf')
  }
}
</script>

<style scoped>
margin-h {
  margin: 1em;
}
</style>
