<template>
  <section class="hero is-fullheight has-text-centered">
    <div class="hero-head">
      <h1 class="is-size-1">{{text.connInt}}</h1>
      <button class="button is-warning margin-h" @click="get()">{{ text.refresh }}</button>
      <button id="skipBtn" class="button is-info margin-h" @click="$router.push('/location')">{{ text.skip }}</button>
    </div>
    <div class="wifi-available hero-body is-paddingless">
      <div class="container">
        <WifiConnect v-if="wifiCount > 0" />
        <WifiNotAvail v-else/>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import WifiConnect from '@/components/WifiConnect.vue'
import WifiNotAvail from '@/components/WifiNotAvail.vue'

export default {
  name: 'WifiSetup',
  components: {
    WifiConnect,
    WifiNotAvail
  },
  computed: {
    ...mapState({
      text: state => state.t.currentLang,
      wifiCount: state => state.w.wifis.length
    }),
    wifis: {
      get () {
        return this.$store.getters['w/wifis']
      }
    }
  },
  methods: {
    ...mapActions('w', ['get'])
  },
  mounted () {
    this.$store.dispatch('w/get')
  }
}
</script>

<style scoped>
.margin-h{
  margin: 0 0.5em 0 0.5em;
}
</style>
