<template>
    <div class="container">
        <div class="level">
            <div class="level-item has-text-centered" v-for="lan in languages" :key="lan.languageCode">
                <a>
                    <div class="card fixed-w-h" @click="setLang(lan)">
                        <div class="card-image">
                        <figure class="image padding-h">
                            <font-awesome-icon :icon="['fas', 'language']"  size="6x" :style="{ color: 'green' }"/>
                        </figure>
                        </div>
                        <div class="card-content has-text-centered">
                        <div class="content heigth-c">
                            <p class="title">{{ lan.languageCode }}</p>
                        </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'language',
  data () {
    return {
    }
  },
  components: {
  },
  computed: {
    ...mapState ({
      text: state => state.t.currentLang,
      languages: state => state.t.languages
    })
  },
  methods: {
    ...mapActions ({
      setLanguage: 't/setLanguage'
    }),
    setLang (lan) {
      this.setLanguage(lan)
      this.$parent.isShowLanguage = false
    }
  }
}
</script>

<style scoped>
.card:hover{
  background-color: dimgray;
}
.padding-h {
  padding: 0.5em;
}
.fixed-w-h {
  width: 200px;
  height: 250px;
  margin: 10px;
}
</style>
