<template>
    <div class="map-available" v-if="true">
        <div class="box container">
        <div id="mapid"></div>
        <div class="container padding-h">
            <table class="table container is-fullwidth">
            <thead>
                <th>{{ text.latLng }}</th>
                <th>{{ text.country }}</th>
                <th>{{ text.timeZone }}</th>
                <th>{{ text.curDateTime }}</th>
            </thead>
            <tr>
                <td>{{`${location.lat.toFixed(3)}, ${location.lng.toFixed(3)}`}}</td>
                <td>{{ location.country }}</td>
                <td>{{ location.timezone }}</td>
                <td>{{ location.time }}</td>
            </tr>
            </table>
        </div>
      </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Map',
  data () {
    return {
      currentTime: null
    }
  },
  components: {
  },
  computed: {
    ...mapState ({
      text: state => state.t.currentLang
    }),
    location: {
      get () {
        return this.$store.getters['l/currentLocation']
      }
    }
  },
  methods: {
    onMapClicked (e) {
      this.marker.setLatLng(e.latlng)
      let location = {
        lat: e.latlng.lat,
        lng: e.latlng.lng,
        city: '',
        streetname: '',
        timezone: ''
      }
      this.$store.dispatch('l/getLocationInfo', location)
    },
    initMap () {
      this.map = L.map('mapid').setView([this.location.lat, this.location.lng], 4)
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZWxla3Ryb2x5dG1hbmdlbCIsImEiOiJjand4anJjMWUwcng2NDRvOHlwcXY2NTd6In0.BkGtras_tssurzzqQ8ZYhA' }).addTo(this.map)
      this.marker = L.marker([this.location.lat, this.location.lng]).addTo(this.map)
      this.map.on('click', this.onMapClicked)
    }
  },
  mounted () {
    this.initMap()
  }
}
</script>

<style scoped>
@import 'https://unpkg.com/leaflet@1.5.1/dist/leaflet.css';

#mapid{
  height: 180px;
}

.padding-h {
    padding: 0.5em;
}
</style>
