<template>
  <div class="container has-text-centered">
    <div class="field">
      <label class="label">{{ text.createProfile }}</label>
      <div class="control">
        <input class="input is-rounded has-text-centered" type="text" name="profile-name" :placeholder="text.profileName" v-model="currProfName" @input="onInputChange"/>
      </div>
    </div>
    <router-link class="button is-success" to="/wifiSetup">{{ text.save }}</router-link>
    <SimpleKeyboard @onChange="onChange" @onKeyPress="onKeyPress" :input="currProfName"/>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import SimpleKeyboard from '@/components/SimpleKeyboard'

export default {
  name: 'ProfileCreate',
  components: {
    SimpleKeyboard
  },
  methods: {
    onChange (input) {
      this.currProfName = input
    },
    onKeyPress (button) {
      console.log('button', button)
    },
    onInputChange (input) {
      this.currProfName = input.target.value
    }
  },
  computed: {
    ...mapState({
      text: state => state.t.currentLang
    }),
    currProfName: {
      get () {
        return this.$store.getters['p/currProfName']
      },
      set (name) {
        this.$store.dispatch('p/setCurrProfName', name)
      }
    }
  }
}
</script>

<style scoped>

</style>
