<template>
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered" v-for="pro in profiles" :key="pro.name">
        <a>
        <div class="card fixed-w-h" @click="setProf(pro)">
          <div class="card-image">
            <figure class="image padding-h">
               <font-awesome-icon :icon="['fas', 'user-astronaut']"  size="6x" :style="{ color: 'green' }"/>
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <div class="content heigth-c">
              <p class="title">{{ pro.name }}</p>
              <p class="subtitle">{{ pro.location }}</p>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a>
        <div class="card fixed-w-h" @click="newProf()">
          <div class="card-image">
            <figure class="image padding-h">
               <font-awesome-icon :icon="['fas', 'user-plus']"  size="6x" :style="{ color: 'blue' }"/>
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <div class="content heigth-c">
              <p class="title">Add Profile</p>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ProfileSelect',
  components: {
  },
  data () {
    return {}
  },
  computed: mapState({
    profiles: state => state.p.profiles
  }),
  methods: {
    async setProf (profile) {
      this.$store.dispatch('p/setCurrProf', profile)
      this.$parent.isShowModal = false
      this.$parent.isShowProfileSelect = false
    },
    newProf () {
      this.$router.push({ path: '/profilesetup' })
    }
  }
}
</script>

<style scoped>
.card:hover{
  background-color: dimgray;
}
.padding-h {
  padding: 0.5em;
}
.fixed-w-h {
  width: 200px;
  height: 250px;
  margin: 10px;
}
</style>
