<template>
  <div class="container">
    <div class="level">

      <div class="level-item has-text-centered">
        <a>
        <div class="card fixed-w-h" @click="showModal('profile')">
          <div class="card-image">
            <figure class="image padding-h">
               <font-awesome-icon :icon="['fas', 'user']"  size="4x" :style="{ color: 'blue' }"/>
            </figure>
          </div>
          <div class="card-content has-text-centered padding-h">
            <div class="content heigth-c">
              <p class="is-size-6">{{ text.selProfile }}</p>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="level-item has-text-centered">
        <a>
        <div class="card fixed-w-h" @click="gotTo('/changeLocation')">
          <div class="card-image">
            <figure class="image padding-h">
               <font-awesome-icon :icon="['fas', 'map-marked-alt']"  size="4x" :style="{ color: 'light-blue' }"/>
            </figure>
          </div>
          <div class="card-content has-text-centered padding-h">
            <div class="content heigth-c">
              <p class="is-size-6">{{ text.changeLoc }}</p>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="level-item has-text-centered">
        <a>
        <div class="card fixed-w-h" @click="showModal('language')">
          <div class="card-image">
            <figure class="image padding-h">
               <font-awesome-icon :icon="['fas', 'globe-europe']"  size="4x" :style="{ color: 'green' }"/>
            </figure>
          </div>
          <div class="card-content has-text-centered padding-h">
            <div class="content heigth-c">
              <p class="is-size-6">{{ text.selLanguage }}</p>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="level-item has-text-centered">
        <a>
        <div class="card fixed-w-h" @click="gotTo('/alarmClock')">
          <div class="card-image">
            <figure class="image padding-h">
               <font-awesome-icon :icon="['fas', 'bell']"  size="4x" :style="{ color: 'yellow' }"/>
            </figure>
          </div>
          <div class="card-content has-text-centered padding-h">
            <div class="content heigth-c">
              <p class="is-size-6">{{ text.alarmTimer }}</p>
            </div>
          </div>
        </div>
        </a>
      </div>

            <div class="level-item has-text-centered">
        <a>
        <div class="card fixed-w-h" @click="gotTo('/operationHours')">
          <div class="card-image">
            <figure class="image padding-h">
               <font-awesome-icon :icon="['fas', 'stopwatch']"  size="4x" :style="{ color: 'coral' }"/>
            </figure>
          </div>
          <div class="card-content has-text-centered padding-h">
            <div class="content heigth-c">
              <p class="is-size-6">{{ text.operationHours }}</p>
            </div>
          </div>
        </div>
        </a>
      </div>

    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Settings',
  data () {
    return {
      isShowLanguage: false,
      isShowProfileSelect: false
    }
  },
  computed: mapState({
    text: state => state.t.currentLang
  }),
  methods: {
    gotTo (path) {
      this.$router.push({ path: path })
    },
    showModal (modalName) {
      if (modalName === 'language') {
        this.$parent.isShowLanguage = true
      } else if (modalName === 'profile') {
        this.$parent.isShowProfileSelect = true
      }
      this.$parent.isShowSettings = false
    }
  }
}
</script>

<style scoped>
.card:hover{
  background-color: dimgray;
}
.padding-h {
  padding: 0.5em;
}
.fixed-w-h {
  width: 110px;
  height: 150px;
  margin: 5px;
}
</style>
