<template>
    <div>
      <p>{{ text.wifiNotFound }}</p>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'WifiNotAvail',
  computed: {
    ...mapState({
      text: state => state.t.currentLang
    })
  }
}
</script>
