<template>
  <div class="container">
    <div class="field is-inline-block">
      <div class="control has-icons-left">
        <label class="label">{{text.connToWifi}}</label>
        <div class="select">
          <select v-model="currentWifi">
            <option v-for="wi in wifis" v-bind:value="wi" v-bind:key="wi.ssid">
              {{ wi.ssid }}
            </option>
          </select>
          <div class="icon is-small is-left">
            <font-awesome-icon :icon="['fas', 'wifi']"/>
          </div>
        </div>
      </div>
    </div>
    <div class="field has-text-centered">
      <div class="control" v-if="currentWifi.encrypted" >
        <input class="input is-rounded" type="password" v-model="password" :placeholder="text.password" @input="onInputChange"/>
      </div>
    </div>
    <button id="conBtn" class="button is-success" :class="{ 'is-loading': isLoading }" @click="connect(currentWifi)">{{ text.connect }}</button>
    <SimpleKeyboard v-if="currentWifi.encrypted" @onChange="onChange" @onKeyPress="onKeyPress" :input="password"/>

    <div class="modal" v-bind:class="{ 'is-active': isFailed }" @click="isFailed = false">
      <div class="modal-background"></div>
        <div class="modal-content has-text-centered">
        <!-- Any other Bulma elements you want -->
          <font-awesome-icon :icon="['fas', 'exclamation']" size="10x" :style="{ color: '#ff3860' }"/> <br/>
          <p class="is-danger margin-h padding-h is-size-2" >{{ text.isFailed }}</p>

        </div>
    </div>

  </div>
</template>

<script>
import { mapState } from 'vuex'
import SimpleKeyboard from '@/components/SimpleKeyboard'

export default {
  name: 'WifiConnect',
  data () {
    return {
      isLoading: false,
      isFailed: ''
    }
  },
  components: {
    SimpleKeyboard
  },
  computed: {
    ...mapState({
      text: state => state.t.currentLang,
      wifis: state => state.w.wifis
    }),
    currentWifi: {
      get () {
        return this.$store.getters['w/currentWifi']
      },
      set (newCurrentWifi) {
        this.$store.commit('w/updateCurrentWifi', newCurrentWifi)
      }
    },
    password: {
      get () {
        return this.$store.getters['w/password']
      },
      set (pw) {
        this.$store.commit('w/updatePassword', pw)
      }
    }
  },
  methods: {
    connect: async function (wifi) {
      this.isLoading = true
      await this.$store.dispatch('w/connect', wifi).then((result) => {
        if (result.data === 'success') {
          this.$router.push({ path: '/location' })
        }
      }).catch((error) => {
        console.log(error)
        this.isFailed = true
      })
      this.isLoading = false
    },
    onChange (input) {
      this.password = input
    },
    onKeyPress (button) {
      console.log('button', button)
    },
    onInputChange (input) {
      this.password = input.target.value
    }
  },
  mounted () {
    this.$store.dispatch('w/get')
  }
}
</script>
